.popup{
    position: relative;
    width: 350px;
    height: 150px;
    padding: 2vh;
    border-radius: 5px;
   background-color: white;
   box-shadow: 2px 1px 12px 0px rgba(129, 126, 126, 0.75);
}

.create_group_btn>button{
    position: absolute;
    right: 15px;
    bottom: 10px;
    background-color: blue;
    width:70px;
    height: 20px;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.input_group{
    height:30px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid lightgray;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 14px;
}

.color_group{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;   
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.selectedColor{    
    border:5px solid #ecd9d9;
   
}

@media screen and (max-width:480px) {
    .input_group{
        width: 49vw;       
    }

    .popup{
        width: 85vw;
    }

    .create_group_btn>button{
        right: 25%;  
        width:150px;
        height:30px; 
    }
}